body{
    background-color: #E1AFD1;
    /* overflow: hidden; */
}
body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: -130px;
    width: 200px;
    height: 100vh;
    background-color: #ab88c6;
    transition: left 0.3s ease;
    z-index: 1000;
    border-radius: 0 30px 30px 0;
}

.navbar.expanded {
    left: 0;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-menu ul li {
    margin-bottom: 15px;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
}
.navbar-toggler-icon {
    background-image: url(../../images/icons/3.svg);
}

.expand-button {
    position: absolute;
    top: 10px;
    right: 12px;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 2000;
}

.expand-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.menu img{
    position: absolute;
    width: 150px;
    top: 13px;
    right: 55px;
    color:#fff;
}

#user-name{
    position: absolute;
    margin: 0;
    bottom: 36.5px;
    right: 70px;
    font-size: 22px;
    color: #fff;
}
#admin-message{
    position: absolute;
    bottom: 5px;
    right: 70px;
    font-size: 12px;
    color: #fff;
}
#foto{
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#a{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 999;
}
#a.expanded{
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
}
#foto img{
    width: 30px;
    height: 30px;
}
.deneme{
    width: 620px;
    height: 350px;
    margin-top: 30px;
    border-radius: 25px;
    background-color: #fff;
    transition: border 0.05s ease;
}
.deneme:hover{
    border: 15px solid #ab88c6;
}
.asd{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    left: 150px;
    z-index: 1;
}
.baslik{
    margin:0 200px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    border: none;
    border-bottom: 5px solid bisque;
}
#food{
    background-image: url(../../../Images/foot.svg);
    background-position: center;
    background-size: cover;
}
#mainfot {
    background-image: url(../../../Images/foot2.svg);
    background-position: center;
    background-size: cover;
}
#useri{
    background-image: url(../../images/1.svg);
    background-position: center;
    background-size: cover;
}
#contact{
    background-image: url(../../images/4.svg);
    background-position: center;
    background-size: cover;
}
.git{
    width: 620px;
    height: 290px;
    position: absolute;
    z-index: 2;
}
.icons{
    display: flex;
    margin-left: 5px;
    flex-direction: column;

}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons p{
    display: inline-block;
    width: 110px;
    padding: 10px;
    margin: 0;
    font-size: 20px;
}
.icons img{
    width: 65px;
    margin-left: 17px;
    padding: 10px;
    float: right;
    border-radius: 25px;
}
.inlineicon{
    margin-bottom: 30px;
    border-radius: 25px;
}
.aktif{
    background-color: #c8acdd;
}
.inlineicon img:hover{
    background-color: #c8acdd;
}