@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/papastanebitti/papaabout.css">
    <title>Papastane Pastanesi Hakkında</title>
    <link rel="icon" type="image/x-icon" href="~/papastanebitti/resimler/1.svg">
</head>

<body>
    <div class="container">
        <div id="aboutSection" class="row justify-content-center">
            <div class="col-lg-8">
                <div class="about-content text-center">
                    <h2>Papastane Pastanesi Hakkında</h2>
                    <p class="lead">Hoş Geldiniz Papastane Pastanesi'ne!</p>
                    <p class="lead">Papastane Pastanesi, lezzetin ve kalitenin buluştuğu bir markadır. Yılların deneyimiyle işlenmiş geleneksel tatlarımızı, modern yaklaşımlarla birleştiriyoruz ve müşterilerimize unutulmaz bir lezzet deneyimi sunuyoruz.</p>
                    <p class="lead">Menümüzde her damak tadına uygun bir seçenek bulunmaktadır. Özel olarak hazırladığımız keklerimiz, pastalarımız, kurabiyelerimiz ve diğer tatlılarımızla herkesin favorisi olmayı hedefliyoruz. Ayrıca, özel günleriniz için kişiye özel pastalar da tasarlıyoruz. Doğum günleri, düğünler, nişanlar ve diğer özel günlerinizde bizimle iletişime geçin, hayalinizdeki pastayı birlikte gerçeğe dönüştürelim.</p>
                    <p class="lead">Papastane Pastanesi olarak, sadece lezzetli tatlar sunmakla kalmıyor, aynı zamanda kalite ve hijyen konusunda da en yüksek standartları benimsiyoruz. Malzemelerimizi özenle seçiyor, taze ve doğal ürünler kullanıyor ve her bir ürünümüzü titizlikle hazırlıyoruz. Müşterilerimizin güvenini kazanmak ve sağlıklı bir deneyim sunmak bizim önceliğimizdir.</p>
                    <p class="lead">Siz de Papastane Pastanesi ailesine katılın ve lezzetin tadını çıkarın. Sizi şubelerimize bekliyoruz!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>