@model RestorantAmaCiddili.Models.FoodCategoryViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/papastanebitti/papamenu.css">
    <title>Cupcake Cafe Menu</title>
    <link rel="icon" type="image/x-icon" href="~/papastanebitti/resimler/1.svg">
</head>


<body>
    <div class="container">
        @* <h1>Cupcake</h1>
        <div class="menu">
            <div class="item">
                <img src="~/papastane/resimler/kapkek-2.jpg" alt="">
                <div class="isim">
                    <h4>bitter çikolatalı</h4>
                    <p>2.4$</p>
                </div>
            </div>
            
        </div> *@

        @foreach (var item in Model.Categories)
        {
            <h1>@item.CategoryName</h1>
            <div class="menu">
            @foreach (var yemek in Model.Foods.Where(m => m.CategoryID == item.ID))
            {
                
                    <div class="item">
                        <img src="@yemek.Photo" alt="@yemek.Name">
                        <div class="isim">
                            <h4>@yemek.Name</h4>
                            <p>$@yemek.Price</p>
                        </div>
                    </div>
                
            }
            </div>
        }


        <div class="menu">
            
        </div>


    </div>
    
</body>
</html>